form,
#results {
  width: calc(min(100%, 600px) - 42px);
  border: 1px solid #aaa;
}

input,
textarea {
  font-size: 1rem;
  width: 80%;
  margin: 5px auto;
  overflow: hidden;
}

.remove,
.add {
  font-size: 1rem;
  width: 5ch;
  height: 2.6em;
  color: #fff;
  transition: background 0.2s ease-in-out;
}

.remove {
  background: #f44a;
}

.remove:hover {
  background: #f44;
}

.add {
  float: right;
  clear: right;
  background: #4f4a;
}

.add:hover {
  background: #4f4;
}


.border {
  border: 1px solid #ccc;
  border-radius: 5px;
}

svg {
  pointer-events: none;
}

.bar {
  background: #888;
}

.dev {
  margin-right: 7px;
}